.counter-section{

padding:90px 0;

background:

linear-gradient(
135deg,
#0f172a,
#1e40af
);

position:relative;

overflow:hidden;

}


.counter-section::before{

content:"";

position:absolute;

width:500px;

height:500px;

background:#06b6d4;

opacity:.15;

border-radius:50%;

top:-200px;

right:-150px;

}



.counter-grid{

position:relative;

z-index:2;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}



.counter-card{

background:rgba(255,255,255,.1);

border:1px solid rgba(255,255,255,.15);

backdrop-filter:blur(15px);

border-radius:25px;

padding:35px 20px;

text-align:center;

color:white;

transition:.35s;

}



.counter-card:hover{

transform:translateY(-10px);

background:rgba(255,255,255,.18);

}



.counter-icon{

width:70px;

height:70px;

margin:auto;

display:grid;

place-items:center;

border-radius:50%;

background:#38bdf8;

color:#0f172a;

font-size:30px;

margin-bottom:20px;

}



.counter-card h2{

font-size:42px;

font-family:var(--heading-font);

margin-bottom:10px;

}



.counter-card p{

color:#e2e8f0;

font-size:1rem;

}



@media(max-width:1000px){


.counter-grid{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:600px){


.counter-grid{

grid-template-columns:1fr;

}


.counter-card h2{

font-size:35px;

}


}