.faq{

background:#f8fafc;

}



.faq-wrapper{

max-width:900px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}



.faq-item{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:var(--shadow-sm);

}



.faq-question{

width:100%;

padding:25px 30px;

display:flex;

justify-content:space-between;

align-items:center;

background:white;

font-size:18px;

font-weight:600;

color:var(--secondary);

}



.faq-question svg{

color:var(--primary);

}



.faq-answer{

padding:0 30px 25px;

}



.faq-answer p{

color:var(--gray-500);

line-height:1.8;

}