.navbar{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

padding:18px 0;

background:rgba(2,6,23,.88);

backdrop-filter:blur(18px);

border-bottom:1px solid rgba(255,255,255,.06);

box-shadow:0 12px 35px rgba(0,0,0,.22);

transition:all .35s ease;

}

.sticky{

padding:12px 0;

background:rgba(2,6,23,.96);

}

.navbar-container {

  display:flex;

  align-items:center;

  justify-content:space-between;

}

.logo{

display:flex;

align-items:center;

gap:14px;

}


.logo {

  display: flex;
  
  align-items: center;
  
  gap: 14px;

}

.logo img {

  width: 60px;

  height: 60px;

  object-fit: contain;

  display: block;

}

.nav{

display:flex;

gap:34px;

}

.nav a{

color:white;

font-weight:600;

position:relative;

}

.nav a::after{

content:"";

position:absolute;

bottom:-8px;

left:0;

height:3px;

width:0;

background:#06b6d4;

transition:.3s;

}

.nav a:hover::after,

.nav .active::after{

width:100%;

}

.call-btn{

background:var(--primary);

padding:12px 22px;

border-radius:40px;

display:flex;

gap:10px;

align-items:center;

color:white;

font-weight:600;

}

.mobile-btn{

display:none;

background:none;

font-size:26px;

color:white;

}

@media(max-width:900px){

.nav{

position:fixed;

top:82px;

right:-100%;

width:260px;

height:calc(100vh - 82px);

background:#0f172a;

display:flex;

flex-direction:column;

padding:35px;

transition:.35s;

}

.nav.active{

right:0;

}

.mobile-btn{

display:block;

}

.call-btn{

display:none;

}

}