.testimonials{

background:white;

}



.testimonial-card{

background:#f8fafc;

padding:35px;

border-radius:25px;

min-height:280px;

position:relative;

transition:.35s;

}



.testimonial-card:hover{

transform:translateY(-10px);

box-shadow:var(--shadow-md);

}



.quote{

font-size:35px;

color:#2563eb;

opacity:.3;

margin-bottom:15px;

}



.stars{

display:flex;

gap:5px;

color:#f59e0b;

margin-bottom:20px;

}



.testimonial-card p{

line-height:1.8;

color:var(--gray-600);

margin-bottom:25px;

}



.testimonial-card h3{

font-family:var(--heading-font);

color:var(--secondary);

}



.testimonial-card span{

color:var(--gray-500);

font-size:.9rem;

}